* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 1rem;
  
  display: flex;
  flex-direction: column;
}

.main-container {
  margin: 5rem;
  
  display: flex;
  flex-direction: column;
}

.margin {
  margin-top: 1rem;
}

.police {
  font-size: 0.8rem;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(53, 101, 116);
  color: white;
  border: none;
}

.title {
  color: rgb(53, 101, 116);
  text-align: center;
  margin-bottom: 2rem;
}