.navbar {
    background-color: #154360 ;
    height: 4rem;
}

.nav-flexbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-navbar {
    text-decoration: none;
    color: #FDFEFE 
}